In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_chapter1_table1 = pd.read_csv('../data//ORSAR2016-Open Data/Chapter 1/Table 1.1.csv')

In [3]:
df_chapter1_table1.head(10)

,"Table 1.1: Selected Diagnoses of Motor Vehicle Collision Injuries Hospitalized in Ontario, 2016 / 2017 Fiscal Year",Unnamed: 1,Unnamed: 2
0,Selected Diagnoses,Hospital Admissions,Hospital Days of Stay
1,NaN,NaN,NaN
2,Fracture of head,126,719
3,Fracture of neck and trunk,998,"8,794"
4,Fracture of upper limb,428,"2,197"
5,Fracture of lower limb,"1,142","11,156"
6,Fractures involving multiple body regions,2,17
7,"Dislocation, sprains and strains",88,705
8,"Dislocations, sprains, and strains involving m...",0,0
9,Intracranial injury,777,"12,125"

In [4]:
df_chapter1_table2 = pd.read_csv('../data//ORSAR2016-Open Data/Chapter 1/Table 1.2.csv')

In [5]:
df_chapter1_table2.head(10)

,Table 1.2,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Selected Surgical Procedures for Motor Vehicle...,NaN,NaN,NaN,NaN,NaN,NaN
1,Selected Procedure,Hospital Admissions,Hospital Days of Stay,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Head, brain, and cerebral meninges",97,"2,481",NaN,NaN,NaN,NaN
4,"Spinal cord, spinal canal, and meninges",13,180,NaN,NaN,NaN,NaN
5,"Nose, mouth, and pharynx",18,197,NaN,NaN,NaN,NaN
6,"Chest wall, pleura, mediastinum, and diaphragm",0,0,NaN,NaN,NaN,NaN
7,Bone marrow and spleen,150,"1,422",NaN,NaN,NaN,NaN
8,Kidney,0,0,NaN,NaN,NaN,NaN
9,Facial bones and joints,62,546,NaN,NaN,NaN,NaN

In [6]:
df_chapter1_table2.columns

Index(['Table 1.2', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [7]:
df_chapter1_table2.isnull().sum()

Table 1.2      5
Unnamed: 1     9
Unnamed: 2     9
Unnamed: 3    22
Unnamed: 4    22
Unnamed: 5    22
Unnamed: 6    22
dtype: int64

In [8]:
df_synopsis = pd.read_csv('../data/ORSAR2016-Open Data/Chapter 1/1A Synopsis.csv')

In [9]:
df_synopsis.head(10)

,1a. Synopsis,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Selected Statistics: 2016,NaN,NaN,NaN,NaN
1,Total Reportable Collisions,"208,404",NaN,NaN,NaN
2,Total Drivers Involved in Collisions,"378,490",NaN,NaN,NaN
3,Total Vehicles Involved in Collisions,"391,544",NaN,NaN,NaN
4,Fatal Collisions,527,NaN,NaN,NaN
5,Personal Injury Collisions,"39,685",NaN,NaN,NaN
6,Property Damage Collisions,"168,192",NaN,NaN,NaN
7,Persons Killed,579,NaN,NaN,NaN
8,Drivers Killed (excludes All Terrain Vehicle a...,333,NaN,NaN,NaN
9,Drivers Killed (Impaired or Had Been Drinking),88,NaN,NaN,NaN

In [10]:
df_synopsis.columns

Index(['1a. Synopsis', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [11]:
df_synopsis.isnull().sum()

1a. Synopsis     0
Unnamed: 1       1
Unnamed: 2      23
Unnamed: 3      23
Unnamed: 4      23
dtype: int64

In [12]:
df_synopsis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1a. Synopsis  23 non-null     object
 1   Unnamed: 1    22 non-null     object
 2   Unnamed: 2    0 non-null      float64
 3   Unnamed: 3    0 non-null      float64
 4   Unnamed: 4    0 non-null      float64
dtypes: float64(3), object(2)
memory usage: 1.0+ KB

In [13]:
df_chapter1_table1.head(20)

,"Table 1.1: Selected Diagnoses of Motor Vehicle Collision Injuries Hospitalized in Ontario, 2016 / 2017 Fiscal Year",Unnamed: 1,Unnamed: 2
0,Selected Diagnoses,Hospital Admissions,Hospital Days of Stay
1,NaN,NaN,NaN
2,Fracture of head,126,719
3,Fracture of neck and trunk,998,"8,794"
4,Fracture of upper limb,428,"2,197"
5,Fracture of lower limb,"1,142","11,156"
6,Fractures involving multiple body regions,2,17
7,"Dislocation, sprains and strains",88,705
8,"Dislocations, sprains, and strains involving m...",0,0
9,Intracranial injury,777,"12,125"
10,"Internal injury of chest, abdomen, and pelvis",413,"3,149"
11,"Open wound of head, neck, or trunk",45,193
12,Open wound of upper limb,22,133
13,Open wound of lower limb,34,554
14,Open wounds involving multiple body regions,1,20
15,Other diagnosis,"1,120","12,570"
16,Total Admissions and Days,"5,196","52,332"
17,"Source: Ministry of Health and Long-Term Care,...",NaN,NaN

In [14]:
df_chapter1_table1['Table 1.1: Selected Diagnoses of Motor Vehicle Collision Injuries Hospitalized in Ontario, 2016 / 2017 Fiscal Year']

0                                    Selected Diagnoses
1                                                   NaN
2                                      Fracture of head
3                            Fracture of neck and trunk
4                                Fracture of upper limb
5                                Fracture of lower limb
6             Fractures involving multiple body regions
7                      Dislocation, sprains and strains
8     Dislocations, sprains, and strains involving m...
9                                   Intracranial injury
10        Internal injury of chest, abdomen, and pelvis
11                   Open wound of head, neck, or trunk
12                             Open wound of upper limb
13                             Open wound of lower limb
14          Open wounds involving multiple body regions
15                                      Other diagnosis
16                           Total Admissions and Days
17    Source: Ministry of Health and Long-Term Care,...
Name: Table 1.1: Selected Diagnoses of Motor Vehicle Collision Injuries Hospitalized in Ontario, 2016 / 2017 Fiscal Year, dtype: object

In [15]:
df_chapter1_table1['Table 1.1: Selected Diagnoses of Motor Vehicle Collision Injuries Hospitalized in Ontario, 2016 / 2017 Fiscal Year'].value_counts(ascending=False)

Open wound of head, neck, or trunk                                                                                    1
Dislocation, sprains and strains                                                                                      1
Open wound of lower limb                                                                                              1
Fracture of upper limb                                                                                                1
Intracranial injury                                                                                                   1
Total Admissions and Days                                                                                             1
Fracture of head                                                                                                      1
Source: Ministry of Health and Long-Term Care, Health Solutions Delivery Branch, Health Data Decision Support Unit    1
Fracture of neck and trunk                                                                                            1
Other diagnosis                                                                                                       1
Internal injury of chest, abdomen, and pelvis                                                                         1
Selected Diagnoses                                                                                                    1
Dislocations, sprains, and strains involving multiple body regions                                                    1
Open wound of upper limb                                                                                              1
Fracture of lower limb                                                                                                1
Fractures involving multiple body regions                                                                             1
Open wounds involving multiple body regions                                                                           1
Name: Table 1.1: Selected Diagnoses of Motor Vehicle Collision Injuries Hospitalized in Ontario, 2016 / 2017 Fiscal Year, dtype: int64

In [16]:
df_chapter3_table3_1 = pd.read_csv('../data//ORSAR2016-Open Data/Chapter 3/Table 3.1.csv')

In [18]:
df_chapter3_table3_1.head(10)

,3A. TYPES OF COLLISIONS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Table 3.1: Class of Collision 1988-2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,Class of Collision,NaN,NaN,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Fatal,Personal Injury,Property Damage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1988,"1,076","76,724","150,598","228,398",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1989,"1,106","77,852","168,080","247,038",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1990,959,"65,912","153,317","220,188",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1991,956,"59,242","153,471","213,669",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1992,942,"58,889","164,418","224,249",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1993,987,"58,932","168,915","228,834",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1994,875,"58,525","167,596","226,996",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_chapter3_table3_1['3A.  TYPES OF COLLISIONS']

0     Table 3.1: Class of Collision 1988-2016
1                                        Year
2                                         NaN
3                                        1988
4                                        1989
5                                        1990
6                                        1991
7                                        1992
8                                        1993
9                                        1994
10                                       1995
11                                       1996
12                                       1997
13                                       1998
14                                       1999
15                                       2000
16                                       2001
17                                       2002
18                                       2003
19                                       2004
20                                       2005
21                                       2006
22                                       2007
23                                       2008
24                                       2009
25                                       2010
26                                       2011
27                                       2012
28                                       2013
29                                       2014
30                                       2015
31                                       2016
Name: 3A.  TYPES OF COLLISIONS, dtype: object

In [28]:
df_chapter4 = pd.read_csv('../data//ORSAR2016-Open Data/Chapter 4/Chapter 4.csv')

In [29]:
df_chapter4.head(10)

,Unnamed: 0,"Table 4.1: Place of Collision - Class of Collision, Persons Killed, Injured and Motor Vehicle Registrations, 2016",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,Place of Collision,Total Collisions,Class of Collision,NaN,NaN,Persons,NaN,Motor Vehicle Registrations,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Fatal,Personal Injury,Property Damage,Killed,Injured,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ONTARIO TOTAL,"208,389",527,"39,684","168,178",579,"55,492","9,691,629*",NaN,NaN,NaN,NaN,NaN
3,NaN,Algoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Blind River T,17,0,2,15,0,2,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Elliot Lake C,44,0,6,38,0,8,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Huron Shores M,7,0,1,6,0,1,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,"Macdonald, Meredith & Aberdeen Addl TP",2,0,0,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Sault Ste. Marie C,"1,167",2,236,929,2,360,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Provincial Highway,307,5,59,243,6,78,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_chapter4.columns

Index(['Unnamed: 0',
       'Table 4.1: Place of Collision - Class of Collision, Persons Killed, Injured and Motor Vehicle Registrations, 2016',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [31]:
df_chapter4.isnull().sum()

Unnamed: 0                                                                                                           499
Table 4.1: Place of Collision - Class of Collision, Persons Killed, Injured and Motor Vehicle Registrations, 2016      6
Unnamed: 2                                                                                                            63
Unnamed: 3                                                                                                            62
Unnamed: 4                                                                                                            63
Unnamed: 5                                                                                                            63
Unnamed: 6                                                                                                            62
Unnamed: 7                                                                                                            63
Unnamed: 8                                                                                                           450
Unnamed: 9                                                                                                           500
Unnamed: 10                                                                                                          500
Unnamed: 11                                                                                                          500
Unnamed: 12                                                                                                          500
Unnamed: 13                                                                                                          500
dtype: int64

In [32]:
df_chapter4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                             --------------  -----
 0   Unnamed: 0                                                                                                         1 non-null      object
 1   Table 4.1: Place of Collision - Class of Collision, Persons Killed, Injured and Motor Vehicle Registrations, 2016  494 non-null    object
 2   Unnamed: 2                                                                                                         437 non-null    object
 3   Unnamed: 3                                                                                                         438 non-null    object
 4   Unnamed: 4                                                                                                         437 non-null    object
 5   Unnamed: 5                                                                                                         437 non-null    object
 6   Unnamed: 6                                                                                                         438 non-null    object
 7   Unnamed: 7                                                                                                         437 non-null    object
 8   Unnamed: 8                                                                                                         50 non-null     object
 9   Unnamed: 9                                                                                                         0 non-null      float64
 10  Unnamed: 10                                                                                                        0 non-null      float64
 11  Unnamed: 11                                                                                                        0 non-null      float64
 12  Unnamed: 12                                                                                                        0 non-null      float64
 13  Unnamed: 13                                                                                                        0 non-null      float64
dtypes: float64(5), object(9)
memory usage: 54.8+ KB

In [33]:
df_chapter4.head()

,Unnamed: 0,"Table 4.1: Place of Collision - Class of Collision, Persons Killed, Injured and Motor Vehicle Registrations, 2016",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,Place of Collision,Total Collisions,Class of Collision,NaN,NaN,Persons,NaN,Motor Vehicle Registrations,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Fatal,Personal Injury,Property Damage,Killed,Injured,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ONTARIO TOTAL,"208,389",527,"39,684","168,178",579,"55,492","9,691,629*",NaN,NaN,NaN,NaN,NaN
3,NaN,Algoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Blind River T,17,0,2,15,0,2,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_chapter4['Table 4.1: Place of Collision - Class of Collision, Persons Killed, Injured and Motor Vehicle Registrations, 2016'][0:10]

0                        Place of Collision
1                                       NaN
2                             ONTARIO TOTAL
3                                    Algoma
4                             Blind River T
5                             Elliot Lake C
6                            Huron Shores M
7    Macdonald, Meredith & Aberdeen Addl TP
8                        Sault Ste. Marie C
9                        Provincial Highway
Name: Table 4.1: Place of Collision - Class of Collision, Persons Killed, Injured and Motor Vehicle Registrations, 2016, dtype: object